<a href="https://colab.research.google.com/github/Shiv-ux2025/AI-Bootcamp-NIELIT/blob/main/Task8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
df_excel=pd.read_excel('/content/Test data.xlsx',sheet_name='Sheet1')
print(df_excel.head())
print(df_excel.tail())
print(df_excel.info())
print(df_excel.describe())

  Employee Data of CMF Pvt. Ltd.     Unnamed: 1           Unnamed: 2  \
0                            NaN            NaN                  NaN
1                  Employee Name  Employee Code      Date of Joining
2                          Suraj           1001  2022-01-05 00:00:00
3                          Arpit           1003  2022-01-20 00:00:00
4                         Hardik           1006  2022-07-27 00:00:00

        Unnamed: 3       Unnamed: 4       Unnamed: 5  \
0              NaN              NaN              NaN
1  Department Code  Employee Salary  Department Name
2             2200            12000          Packing
3             2200            14000          Packing
4             2200             9500          Packing

                   Unnamed: 6     Unnamed: 7
0                         NaN            NaN
1         Department Location       Position
2  Second Floor, CMF building      Executive
3   First Floor, CMF building      Executive
4   First Floor, CMF building  Non Executive
   Employee Data of CMF Pvt. Ltd. Unnamed: 1           Unnamed: 2 Unnamed: 3  \
6                           Krish       1009  2022-11-05 00:00:00       2200
7                           Nakul       1005  2022-07-08 00:00:00       3200
8                           Kunal       1008  2022-10-25 00:00:00       3200
9                            Anuj       1002  2022-01-10 00:00:00       3000
10                         Tushar       1004  2022-01-30 00:00:00       3000

   Unnamed: 4 Unnamed: 5                  Unnamed: 6     Unnamed: 7
6       10000    Packing   First Floor, CMF building  Non Executive
7       11000   Purchase  Second Floor, CMF building      Executive
8       16500   Purchase  Second Floor, CMF building        Manager
9       20000      Sales  Ground Floor, CMF building        Manager
10      18000      Sales  Ground Floor, CMF building        Manager
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employee Data of CMF Pvt. Ltd.  10 non-null     object
 1   Unnamed: 1                      10 non-null     object
 2   Unnamed: 2                      10 non-null     object
 3   Unnamed: 3                      10 non-null     object
 4   Unnamed: 4                      10 non-null     object
 5   Unnamed: 5                      10 non-null     object
 6   Unnamed: 6                      10 non-null     object
 7   Unnamed: 7                      10 non-null     object
dtypes: object(8)
memory usage: 836.0+ bytes
None
       Employee Data of CMF Pvt. Ltd.     Unnamed: 1       Unnamed: 2  \
count                              10             10               10
unique                             10             10               10
top                     Employee Name  Employee Code  Date of Joining
freq                                1              1                1

        Unnamed: 3       Unnamed: 4 Unnamed: 5                 Unnamed: 6  \
count           10               10         10                         10
unique           4               10          4                          4
top           2200  Employee Salary    Packing  First Floor, CMF building
freq             5                1          5                          4

       Unnamed: 7
count          10
unique          4
top     Executive
freq            3