<a href="https://colab.research.google.com/github/Shiv-ux2025/AI-Bootcamp-NIELIT/blob/main/Task7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df_excel=pd.read_excel('/content/Test data.xlsx',sheet_name='Sheet1')
print(df_excel)

   Employee Data of CMF Pvt. Ltd.     Unnamed: 1           Unnamed: 2  \
0                             NaN            NaN                  NaN
1                   Employee Name  Employee Code      Date of Joining
2                           Suraj           1001  2022-01-05 00:00:00
3                           Arpit           1003  2022-01-20 00:00:00
4                          Hardik           1006  2022-07-27 00:00:00
5                           Mukul           1007  2022-10-20 00:00:00
6                           Krish           1009  2022-11-05 00:00:00
7                           Nakul           1005  2022-07-08 00:00:00
8                           Kunal           1008  2022-10-25 00:00:00
9                            Anuj           1002  2022-01-10 00:00:00
10                         Tushar           1004  2022-01-30 00:00:00

         Unnamed: 3       Unnamed: 4       Unnamed: 5  \
0               NaN              NaN              NaN
1   Department Code  Employee Salary  Department Name
2              2200            12000          Packing
3              2200            14000          Packing
4              2200             9500          Packing
5              2200             8500          Packing
6              2200            10000          Packing
7              3200            11000         Purchase
8              3200            16500         Purchase
9              3000            20000            Sales
10             3000            18000            Sales

                    Unnamed: 6     Unnamed: 7
0                          NaN            NaN
1          Department Location       Position
2   Second Floor, CMF building      Executive
3    First Floor, CMF building      Executive
4    First Floor, CMF building  Non Executive
5    First Floor, CMF building  Non Executive
6    First Floor, CMF building  Non Executive
7   Second Floor, CMF building      Executive
8   Second Floor, CMF building        Manager
9   Ground Floor, CMF building        Manager
10  Ground Floor, CMF building        Manager